		*{
    font-family: 'Noto Sans TC', sans-serif;
    color: #5b5751;
    /* border-style: solid;
    border-width: 1px; */
}
body{
    background-color: #F5F5F5;
    width: 92em;
    margin: auto;
    overflow-x: hidden;
}
footer{
    background-color: #5b5751;
    z-index: 2;
    width: 100%;
    position: absolute;
    left: 0;
    height: 29.85em;
    margin-top: 5em;
}
nav{
    position: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 3;
    margin-top: 13.45em;
    width: 87.5em;
}
ul{
    position: relative;
    height: 2.6em;
    padding: 0;
    width:96%;
    overflow: hidden;
    display: inline-block;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.fa-search, .fa-ellipsis-v{
    color: #3AAB97;
}
.fp_div_ft ul{
    border-style: solid;
    border-width: 0 2px 0 2px;
    border-color: #3AAB97;
    height: 8.71625em;
    z-index: 5;
}
.fp_div_ft ul li{
    display: inline-block;
    width: 12em;
    height: 2em;
    text-align: center;
    margin-left: 2em;
    margin-top: 1.5em;
}
.fp_div_ft ul li a{
    color: #F5F5F5;
    z-index: 5;
    font-size: 1.625em;
}
.fp_div_ft ul li a{
    text-decoration: none;
}
.fp_div_ft a{
    color: #F5F5F5;
    font-size: 1.625em;
    text-decoration: none;
}
.fp_li_t{
    display: inline-block;
    text-align: center;
    border-left-style: solid;
    border-left-color: #3AAB97;
    border-width: 2px;
    width: 7em;
    position: relative;
    font-size: 1.4375em;
}
.fp_li_a_t{
    color: #5b5751;
    font-weight: Bold;
    position: relative;
    left: -0.5em;
}
.fp_li_a_t:hover, .fp_li_a_t:visited{
    color: #5b5751;
    font-weight: Bold;
    position: relative;
    left: -0.5em;
    text-decoration: none;
}
.fp_div_ft > img{
    height: 15.625em;
    z-index: 5;
    position: relative;
    left: 25%;
    top: 3em;
}
.fp_div_ft{
    display: inline-block;
    vertical-align: top;
    margin: 2em auto;
    z-index: 3;
    position: relative;
}
#fp_i_nav{
    display: inline-block;
    position: fixed;
    margin-left: 1em;
    margin-top: 0.6em;
    height: 1.5em;
}
#fp_div_backgroundcolor{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 21em;
    background-image: linear-gradient(rgba(58, 171, 151) 0%, #F5F5F5 18em);
    background-image: -moz-linear-gradient(rgba(58, 171, 151) 0%, #F5F5F5 18em);
    background-image: -webkit-linear-gradient(rgba(58, 171, 151) 0%, #F5F5F5 18em);
    background-image: -o-linear-gradient(rgba(58, 171, 151) 0%, #F5F5F5 18em);
    background-image: -ms-linear-gradient(rgba(58, 171, 151) 0%, #F5F5F5 18em);
    z-index: 3;
}
#fp_logo{
    position: fixed;
    width: 21.7em;
    z-index: 3;
    top: 5em
}
#fp_i_t01{
    width: 1.4em;
    height: 1.4em;
    vertical-align: top;
    z-index: 4;
    position: fixed;
    margin-left: 40em;
    margin-top: 5.25em;
}
#fp_i_t01:hover{
    z-index: -1;
}
#fp_span_t01{
    font-size: 1.25em;
    position: fixed;
    margin-left: 63.75em;
    margin-top: 8.5em;
    z-index: -1;
}
#fp_i_t01:hover+#fp_span_t01{
    z-index: 5;
}
#fp_img_header{
    width: 2.4em;
    height: 2.4em;
    vertical-align: top;
    z-index: 4;
    position: fixed;
    margin-left: 84.75em;
    margin-top: 10.25em;
}
#fp_img_header:hover{
    z-index: -1;
}
#fp_span_t02{
    font-size: 1.25em;
    position: fixed;
    margin-left: 67.75em;
    margin-top: 8.5em;
    z-index: -1;
}
#fp_img_header:hover+#fp_span_t02{
    z-index: 5;
}
#fp_i_t02{
    width: 1.4em;
    height: 1.4em;
    vertical-align: top;
    z-index: 4;
    position: fixed;
    margin-left: 45em;
    margin-top: 5.25em;
}
#fp_i_t03{
    display: none;
}
#fp_span_t03{
    font-size: 1.25em;
    position: fixed;
    margin-left: 71.5em;
    margin-top: 8.5em;
    z-index: -1;
}
#fp_i_t02:hover{
    z-index: -1;
}
#fp_i_t02:hover + #fp_span_t03{
    z-index: 5;
}
#fp_clear01{
    clear: both;
}
#fp_div_ft_c{
    width: 46.25em;
    position: relative;
    left: 10%;
    top: 6.5em;
}
#fp_div_ft_r{
    position: relative;
    left: 15%;
    top: 10em;
}
#fp_p_ft_d{
    color: #F5F5F5;
    text-align: center;
    font-size: 12px;
    margin-top: 5%;
}
header div{
    display: inline-block;
}
#fp_div01{
    height: 3em;
    width: 3em;
    border: solid 1px #5b5751;
    z-index: 5;
    background-color: #F5F5F5;
    position: fixed;
    left: 95%;
    top: 90%;
}
#fp_i_div01{
    margin-left: 1.5px;
}
#fp_div_ft01{
    width: 92em;
    margin:auto;
    height: 29.85em;
    background-color: #5b5751;
}


    	/*all page end*/
    	/*nav*/
    	/*文章專用row*/
    	.ct_row{
    		margin-right: -45px;
    		margin-left: -45px;
    		justify-content: center;
    		display: flex;
    		flex-wrap: wrap;
    	}
    	.col{
    		padding: 0;
    	}
    	/*下方小文字*/
    	.smalltitle{
    		font-size: 14px;
    		font-weight: lighter;
    	}
    	.title{
    		display: inline;
    		margin-top: 10em;
    		margin-bottom: 2em;
    		font-size: 16px;
    	}
    	.ct_div_t{
			margin-bottom: 150px;
    	}
		.ct_div{
			
			/*margin-right: 1em;*/
		}
		.ct_div > div{
			/*強制同一行*/
			display: inline;
			/*padding-right: 0;*/
		}
		/*看看效果如何，這是網路上說置中的方式*/
		/*.ct_div img{
			display: block;
			margin: auto;
		}*/
		.boldtitle{
			font-weight: bold;
		}
		.greenbar{
			border-left-style: solid;
		    border-left-width: 2px;
		    border-left-color: #3AAB97;
		    padding: 0 0.75em;
		}
		.ct_div > img{
			margin-bottom: 1em;
		 }
		@media (min-width:100px) {
		.ct_div > img{
			width: 8em;
		 }
		}
		@media (min-width:500px) {
		.ct_div > img{
			width: 12em;
		 }
		}
		@media (min-width:768px) {
		.ct_div > img{
			width: 14em;
		 }
		}

		/*底下*/
		.ct_div_b > div{
		}
		.greenlongbar{
			/*position: absolute;*/
			/*top: 50%;*/
			margin-top: 10px;
			width: 20em;
			height: 4px;
			background-color: #3AAB97;
			margin-top: 2.6em;

		}
		.readmore{
			/*死都不換行*/
			white-space:nowrap;
			letter-spacing: 10px;
			margin-top: 2em;
		}